In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder

In [46]:
df = pd.read_csv('covid_toy.csv')

In [47]:
df = df.drop('city',axis=1)

In [48]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
has_covid     0
dtype: int64

In [49]:
df

    age  gender  fever   cough has_covid
0    60    Male  103.0    Mild        No
1    27    Male  100.0    Mild       Yes
2    42    Male  101.0    Mild        No
3    31  Female   98.0    Mild        No
4    65  Female  101.0    Mild        No
..  ...     ...    ...     ...       ...
95   12  Female  104.0    Mild        No
96   51  Female  101.0  Strong       Yes
97   20  Female  101.0    Mild        No
98    5  Female   98.0  Strong        No
99   10  Female   98.0  Strong       Yes

[100 rows x 5 columns]

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size = 0.2)

In [52]:
X_train.shape

(80, 4)

In [54]:
X_test.shape

(20, 4)

In [56]:
y_train.shape

(80,)

In [58]:
y_test.shape

(20,)

1. Aam Zindagi

In [67]:
# adding simple imputer to fever column
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape

(80, 1)

In [69]:
X_test_fever.shape

(20, 1)

In [75]:
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])
X_test_cough = oe.fit_transform(X_test[['cough']])

In [74]:
X_train_cough.shape

(80, 1)

In [97]:
ohe = OneHotEncoder(drop='first' , sparse_output = False)
X_train_gender= ohe.fit_transform(X_train[['gender']])

X_test_gender= ohe.fit_transform(X_test[['gender']])

X_train_gender

array([[0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.]])

In [84]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough']).values

X_train_age.shape

(80, 1)

In [86]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender,X_test_cough),axis=1)

X_train_transformed

array([[ 60.        ,  99.        ,   0.        ,   0.        ],
       [ 82.        , 100.93150685,   1.        ,   0.        ],
       [ 44.        , 104.        ,   1.        ,   0.        ],
       [ 82.        , 102.        ,   0.        ,   1.        ],
       [ 64.        , 102.        ,   1.        ,   0.        ],
       [ 42.        , 100.93150685,   0.        ,   1.        ],
       [ 68.        , 101.        ,   0.        ,   1.        ],
       [ 55.        , 100.        ,   1.        ,   0.        ],
       [ 79.        , 100.93150685,   1.        ,   1.        ],
       [ 64.        , 101.        ,   0.        ,   0.        ],
       [  6.        , 104.        ,   0.        ,   0.        ],
       [ 81.        , 101.        ,   0.        ,   0.        ],
       [ 59.        ,  99.        ,   0.        ,   1.        ],
       [ 22.        ,  99.        ,   0.        ,   0.        ],
       [ 23.        , 100.93150685,   1.        ,   0.        ],
       [ 25.        ,  99.        ,   0.        ,   1.        ],
       [ 56.        , 104.        ,   0.        ,   1.        ],
       [ 74.        , 102.        ,   1.        ,   0.        ],
       [ 51.        , 104.        ,   1.        ,   0.        ],
       [ 75.        , 100.93150685,   0.        ,   0.        ],
       [ 69.        , 102.        ,   0.        ,   0.        ],
       [ 42.        , 104.        ,   1.        ,   0.        ],
       [ 24.        , 102.        ,   0.        ,   1.        ],
       [ 69.        ,  98.        ,   0.        ,   1.        ],
       [ 72.        ,  99.        ,   1.        ,   0.        ],
       [ 50.        , 103.        ,   0.        ,   0.        ],
       [ 26.        ,  98.        ,   0.        ,   0.        ],
       [ 20.        , 100.93150685,   0.        ,   1.        ],
       [ 54.        , 104.        ,   0.        ,   1.        ],
       [ 47.        , 101.        ,   1.        ,   1.        ],
       [ 51.        , 104.        ,   1.        ,   0.        ],
       [ 80.        ,  98.        ,   0.        ,   0.        ],
       [ 48.        , 103.        ,   0.        ,   0.        ],
       [ 19.        , 100.        ,   0.        ,   0.        ],
       [ 20.        , 102.        ,   1.        ,   1.        ],
       [ 81.        ,  98.        ,   0.        ,   1.        ],
       [ 64.        ,  98.        ,   0.        ,   0.        ],
       [ 10.        , 100.        ,   1.        ,   0.        ],
       [ 65.        , 101.        ,   0.        ,   0.        ],
       [  8.        , 101.        ,   0.        ,   0.        ],
       [ 49.        , 101.        ,   0.        ,   0.        ],
       [ 27.        , 100.        ,   1.        ,   0.        ],
       [ 34.        , 101.        ,   0.        ,   1.        ],
       [ 65.        ,  99.        ,   1.        ,   0.        ],
       [ 27.        , 100.        ,   1.        ,   0.        ],
       [ 75.        , 104.        ,   0.        ,   1.        ],
       [ 25.        , 104.        ,   1.        ,   0.        ],
       [ 40.        ,  98.        ,   0.        ,   1.        ],
       [ 16.        , 103.        ,   0.        ,   0.        ],
       [ 34.        ,  98.        ,   1.        ,   1.        ],
       [ 17.        , 104.        ,   0.        ,   0.        ],
       [ 49.        , 102.        ,   0.        ,   0.        ],
       [ 83.        ,  98.        ,   1.        ,   0.        ],
       [ 82.        , 102.        ,   0.        ,   1.        ],
       [ 69.        , 103.        ,   0.        ,   0.        ],
       [ 84.        , 100.93150685,   0.        ,   0.        ],
       [ 47.        , 100.        ,   0.        ,   1.        ],
       [ 49.        ,  99.        ,   0.        ,   1.        ],
       [ 83.        , 103.        ,   1.        ,   0.        ],
       [ 70.        , 103.        ,   1.        ,   1.        ],
       [ 19.        , 101.        ,   0.        ,   0.        ],
       [ 14.        ,  99.        ,   0.        ,   0.        ],
       [ 73.        , 103.        ,   0.        ,   0.        ],
       [ 18.        , 104.        ,   0.        ,   0.        ],
       [ 80.        , 100.        ,   1.        ,   0.        ],
       [ 24.        ,  98.        ,   1.        ,   0.        ],
       [ 16.        , 104.        ,   1.        ,   0.        ],
       [ 15.        , 101.        ,   1.        ,   0.        ],
       [ 20.        , 101.        ,   0.        ,   0.        ],
       [ 19.        , 100.        ,   0.        ,   1.        ],
       [ 11.        , 100.        ,   1.        ,   0.        ],
       [ 31.        ,  98.        ,   0.        ,   0.        ],
       [ 27.        , 100.        ,   1.        ,   0.        ],
       [  5.        , 102.        ,   1.        ,   0.        ],
       [ 65.        ,  98.        ,   0.        ,   0.        ],
       [ 66.        ,  99.        ,   1.        ,   1.        ],
       [ 71.        ,  98.        ,   0.        ,   1.        ],
       [  5.        ,  98.        ,   0.        ,   1.        ],
       [ 19.        , 101.        ,   1.        ,   0.        ],
       [ 34.        , 104.        ,   0.        ,   1.        ]])

In [87]:
df

    age  gender  fever   cough has_covid
0    60    Male  103.0    Mild        No
1    27    Male  100.0    Mild       Yes
2    42    Male  101.0    Mild        No
3    31  Female   98.0    Mild        No
4    65  Female  101.0    Mild        No
..  ...     ...    ...     ...       ...
95   12  Female  104.0    Mild        No
96   51  Female  101.0  Strong       Yes
97   20  Female  101.0    Mild        No
98    5  Female   98.0  Strong        No
99   10  Female   98.0  Strong       Yes

[100 rows x 5 columns]

2. Mentos Zindagi

In [88]:
from sklearn.compose import ColumnTransformer

In [110]:
transformer = ColumnTransformer(transformers=[('tnf1', SimpleImputer(), ['fever']),
                                              ('tnf2', OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                                              ('tnf3', OneHotEncoder(sparse_output=False, drop='first'),['gender'])
                                             ],remainder='passthrough')

In [111]:
X_train_transformer = transformer.fit_transform(X_train)

In [113]:
X_train_transformer.shape

(80, 4)

In [114]:
X_test_transformer = transformer.transform(X_test)

In [115]:
X_test_transformer.shape

(20, 4)